


html {
	font-family: arial;
}

body {
	color: #333;
	background-color: #C6B9AC;
	font: 13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}

.container {
	background: #fff;
	margin-top: 50px;
}

.container.container_12 {
	-moz-box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
	box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
}

.container_12 {
	padding: 50px;
}


header {
	padding-bottom: 10px;
	text-align: center;
}

header > h1 {
	color: #ff8200;
	font-size: 2.2em;
}
header > h2 {
	color: #ff8200;
	margin-bottom: 1.1em;
	font-size: 1.1em;
}

header > h2 > strong {
	font-style: italic;
}

header > nav {
	background: #eee;
}

ol {
	padding-left: 20px;
}

ul > li {
	list-style: none;
}

code, code a[name] {
  color: #007000;
  font-family: "Droid Sans Mono";
}



nav > ul > li {
	font-size: 0.8em;
	line-height: 1.6em;
	display: inline;
	margin: 0 4px;
}

footer {
	clear: both;
	padding-top: 1em;
	border-top: 5pt solid #eee;
	font-size: 0.7em;
    margin: 1em 0 0;
}

a {
	color: #777;
	text-decoration: none;
}

a:hover {
	color: #444;
	text-decoration: underline;
}


section {
	clear: both;
	margin: 10px;
	padding: 0 10px;
	font-size: .9em;
}

section > h2 {
	margin-bottom: 10px;
	margin-left: -10px;
	font-size: 1.2em;
}


section > p {
	margin: 10px 0;
	line-height: 1.6em;
}

.summary.description > ul,
.summary.description > ul > li {
    list-style-type: disc;
    margin-left: 20px;
}


td.description {
    position: relative;
}

td.description > .btnSeeExample {
    margin-bottom: 1em;
    display: block;
}

td.description > .example {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    min-width: 500px;
}

td.description > .example > .btnClose {
    margin-left: .5em;
}

td.description > .example > pre {
    margin: 0 .5em .5em;
}

